@use "generic.scss";
@use "theme.scss";
@use "atoms.scss";
@use "elements.scss";
@use "organisms.scss";

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
	gap: 0.5rem;
}
